/* basic setup  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap');

:root {
  --black: #000;
  --dark: #2f2f2f;
  --light: #f5f5f5;
  --dark-gray: #707070;
  --sm-btn-green: #236477;
  --lg-btn-green: #04726D;
  --bg-blue: #09257A;
  --ff-primary: 'Poppins', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,body {
    height: 100%;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* public pattern */

.lead-center {
    font-size: 20px;
    line-height: 29px;
    padding-top: 12px;
    text-align: center;
}

/* navigation style */
.navbar {
    width: 100%;
    padding-top: 0;
}

.container-fluid {
    padding-left: 150px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 95px;   
    background: #fff;
    color: var(--dark);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.navbar-brand {
    margin-right: 0;
}

.brand-text{
    position: relative;
    left: 0;
    width: 130px;
    margin-right: 64px;
    padding-left: 12px;
    color: var(--dark);
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 14.5px;
    line-height: 100.21%;
    letter-spacing: -0.01em;
}

.nav-link {
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 23px;
}

/* welcome section style */
.welcome {
    position: absolute;
    height: 1024px;
    font-family: var(--ff-primary);
    color: var(--black);
    font-weight: 400;
    
}

.hero-image {
    background-image: url("./assets/images/image_hero.png");
    width: 100%;
    height: 1024px;  
}

.content {
    position: absolute;
    left: 150px;
    top: 437px;
}

.sm-title {
    width: 515px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 144%;
    margin-bottom: 20px;
}

.lg-title {
    width: 653px;
    font-size: 52px;
    line-height: 130%;
    margin-bottom: 20px;
}

.content-detail {
    width: 543px;
    font-size: 20px;
    line-height: 29px;
    height: 62px;
    margin-bottom: 23px;
}

.find-more-btn {
    background: var(--lg-btn-green);
    height: 64px;
    width: 199px;
    border-radius: 65px;
    color: #fff;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* eligibility section */
.eligibility {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1119px;
    width: 100%;
    padding: 0 12px;
    background: var(--bg-blue);
    font-family: var(--ff-heading);
    font-weight: 400;
    text-align: center;
    align-items: center;
    color: #fff;
}

.elig-title {
    padding-top: 82px;
}

.m-header {
    font-size: 37px;
    line-height: 141.24%;;
}

.elig-icons {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 68px;
    padding-bottom: 96px;
}

.icon-group {
    padding: 0 105px 20px 105px;
}

.lg-icon {
    height: 127.5px;
    width: 127.5px;
    align-items: center;
}

.lg-icon img {
    height: 127.5px;
    margin: auto;
    padding-bottom: 20px;
}




/* different devices */
@media screen and (max-width: 980px) {
    /* nav section */
    .container-fluid {
        padding-left: 20px;
    }

    /* welcome section */
    .welcome {
        height: 100%vh;
    }
    .content {
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 20px;
        margin-top: -200px;
    }
    .sm-title, .lg-title, .content-detail {
        width: 100%;
        height: 100%;
    }
    
    /* eligibility */
    .eligibility {
        height: auto;
    }

}
