/* basic setup  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap');

:root {
  --black: #000;
  --dark: #2f2f2f;
  --light: #f5f5f5;
  --dark-gray: #707070;
  --sm-btn-green: #236477;
  --lg-btn-green: #04726D;
  --bg-blue: #09257A;
  --ff-primary: 'Poppins', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,body {
    height: 100%;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* public pattern */
h1 {
    font-family: var(--ff-heading);
    font-size: 37px;
    line-height: 141%;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-family: var(--ff-heading);
    font-size: 25px;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
    color: var(--dark);
    padding-bottom: 15px;
}

h5 {
    font-family: var(--ff-heading);
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.01;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.p-small {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    margin: 0;
    color: var(--dark);
}

.lead, .lead-center {
    font-size: 20px;
    line-height: 29px;
    padding-top: 12px;
    line-height: 144%;
    overflow: auto;
}

.lead-center {
    text-align: center;
    margin: 0 auto;
}

.lead-bold {
    font-family: var(--ff-heading);
    font-weight: 700;
    font-size: 22px;
    line-height: 133%;
}

/* button style */
.sm-btn {
    background: var(--bg-blue);
    font-family: var(--ff-primary);
    width: auto;
    border: none;
    font-size: 15px;
    line-height: 144%;
    color: #fff;
    padding: 4px 13px;
    border-radius: 65px;
    transition: all .3s ease-in-out;
}

.lg-btn {
    background: var(--lg-btn-green);
    height: 64px;
    width: 199px;
    border-radius: 65px;
    color: #fff;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

/* button animation  */
.lg-btn:hover {
    background: var(--dark);
    transform: scale(0.95);
}

.lg-btn:active {
    background: var(--dark-gray);
}

.sm-btn:hover {
    background: var(--dark);
    transform: scale(1.05);
}

.sm-btn:active {
    background: var(--dark-gray);
}

/* navigation style */
.navbar {
    width: 100%;
    padding-top: 0;
}

.container-fluid {
    padding-left: 150px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 95px;   
    background: #fff;
    color: var(--dark);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.navbar-brand {
    float: left;
}

.navbar-brand img {
    margin-right: 0;
    float: left;
}

.brand-text {
    position: relative;
    float: right;
    width: 110px;
    margin-left: 12px;
    margin-right: 64px;
    color: var(--dark);
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 14.5px;
    line-height: 100%;
    letter-spacing: -0.01em;
}

.nav-link {
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 23px;
}

/* welcome section style */
.welcome {
    height: 1024px;
    font-family: var(--ff-primary);
    color: var(--black);
    font-weight: 400;
    
}

.img-welcome {
    background-image: url("./assets/images/image_hero.png");
    background-size: cover;
    width: 100%;
    height: 1024px;  
}

.content {
    position: absolute;
    left: 150px;
    top: 437px;
}

.sm-title {
    width: 515px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 144%;
    margin-bottom: 20px;
}

.lg-title {
    width: 653px;
    font-size: 52px;
    line-height: 130%;
    margin-bottom: 20px;
}

.content-detail {
    width: 543px;
    font-size: 20px;
    line-height: 29px;
    height: 62px;
    margin-bottom: 23px;
}

/* eligibility section style */
.eligibility {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0px 12px;
    background: var(--bg-blue);
    font-family: var(--ff-heading);
    font-weight: 400;
    text-align: center;
    align-items: center;
    color: #fff;
}

.elig-title {
    padding-top: 82px;
}

.icons-group {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 68px;
    padding-bottom: 96px;
}

.icon-group {
    padding: 0 105px 20px 105px;
}

.lg-icon {
    height: 127.5px;
    width: 127.5px;
    align-items: center;
}

.lg-icon img {
    height: 127.5px;
    margin: auto;
    padding-bottom: 20px;
}

/* achievement section style */
.achievement {
    position: relative;
    background-image: url("./assets/images/bgImage_achievement.png");
    width: 100%;
    height: 1024px; 
    background-position: right;
    background-repeat: no-repeat;
}

.ach-bg-mask {
    position: relative;
    float: left;
    height: 1024px;
    width: 71%;
    z-index: 10;
    background: linear-gradient(90deg, #FFFFFF 22.22%, rgba(255, 255, 255, 0) 100%);
}

.achievement-content {
    position: absolute;
    z-index: 999;
    float: left;
    top: 400px;
    left: 150px;
}

.sm-btn span {
    margin-right: 7px;
}

/* challenge section style */
.challenge {
    position: relative;
    color: #fff;
    padding-top: 130px;
    background-image: url(./assets/images/bgImage_challenge.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.lead-center-l {
    text-align: center;
    width: 70%;
    max-width: 830px;
    margin: 23px auto;
}

.challenge-icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    max-width: 1000px;
    margin: 75px auto;
}

.lg-icon-group {
    text-align: center;
    align-items: center;
    width: 225px;
}

.lg-icon {
    margin: 0 auto;
}

.sm-icon-group {
    width: 262px;
}

.sm-icon {
    width: 56px;
    height: 56px;
    margin: 0 auto 18px;
}

.sm-icon img {
    text-align: center;
    height: 56px;
    margin: auto;
}

.div-line {
    background: #fff;
    margin: 0 auto 70px;
    width: 79%;
    height: 2px;
}

/* discover section style */
.discover {
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 120px auto;
    width: 100%;
    height: auto;
}

.discover-title {
    text-align: center;
    margin-top: 120px;
    padding-bottom: 0%;
}

/* card style bootstrap */
.discover-card {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    padding-top: 30px;
    height: fit-content;
}

.dis-cards-group{
    display: flex;
}

.dis-cards-group::-webkit-scrollbar {
    width: 0;
}

.card {
    height: 290px;
    width: 263px;
    margin: 20px 0;
    font-family: var(--ff-primary);
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.card:hover {
    transform: scale(1.05);

}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card-label-group {
    display: flex;
    align-items: center;
    margin: 0 auto 15px;

}

.card-date {
    font-size: 9px;
    line-height: 140%;
    letter-spacing: -0.01;
    font-weight: 400;
    margin-right: 0;
    padding: 0;
}

.card-label {
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    background: var(--light);
    padding: 1.5px 8px;
    border-radius: 1px;
}

/* form section style */
.contact {
    display: block;
    width: 100%;
    padding: 70px 0 60px;
    text-align: center;
    background: var(--light);
}

.contact-content {
    max-width: 1140px;
    margin: 0 auto;
}

form {
    margin-top: 43px;
}

.form-input, .country-select {
    width: 100%;
    max-width: 369px;
    height: 40px;
    box-sizing: border-box;
    padding: 6px auto 5px 8px;
    margin: 0 15px 14px;
    border: 1px solid var(--dark);
    border-radius: 3px;
}

::placeholder {
    padding-left: 8px;
    font-family: var(--ff-primary);
    font-size: 20px;
    line-height: 144%;
    color: var(--dark-gray);
}

.country-select {
    padding-left: 8px;
    font-family: var(--ff-primary);
    font-size: 20px;
    line-height: 144%;
    color: var(--dark-gray);
} 

.add-message {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    width: 171px;
    padding: 0;
    text-align: left;
}

.add-message:hover {
    color: var(--black);
}

.send-btn {
    background: var(--lg-btn-green);
    border: none;
    color: #fff;
    padding: 4px 13px;
    margin-top: 13px;
    border-radius: 65px;
    font-size: 15px;    
    font-family: var(--ff-primary);
    font-weight: 500;
    line-height: 140%;
    transition: all .3s ease-in-out;
}

.send-btn:hover {
    transform: scale(0.95);
    background: var(--dark);
}

/* footer style */
footer {
    display: inline-block;
    background: var(--dark);
    width: 100%;
    padding: 20px 150px;
}

footer img {
    float: left;
    width: 98px;
    height: 32px;
}

.copy-right {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    text-align: right;
    color: #fff;
}

/* different devices */
@media screen and (min-width: 540px) and (max-width: 983px) {
    /* nav section */
    .container-fluid {
        padding-left: 20px;
    }

    /* welcome section */
    .welcome {
        height: 100%vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        left: 20px;
        width: 80%;
    }

    .sm-title, .lg-title, .content-detail {
        width: 100%;
        height: 100%;
    }
    
    /* eligibility */
    .eligibility {
        height: auto;
    }

    /* achievement  */
    .achievement{
        height: auto;
    }

    .achievement-content {
        position: absolute;
        width: 80%;
        z-index: 999;
        float: left;
        margin: auto;
        left: 20px;
    }

    .sm-btn {
        width: 50%;
        margin-left: 12px;
    }

    /* challenge */
    .challenge-title{
        display: block;
    }

    /* form */
    .space {
        display: none;
    }
}


@media screen and (min-width: 375px) and (max-width: 540px) {
    h1 {
        font-size: 30px;
    }

    /* navigation */
    .navbar {
        height: auto;
    }

    .brand-text {
        margin: 0;
    }

    .navbar-toggler {
        float: right;
    }

    /* welcome */
    .content {
        display: block;
        padding-right: 10px;
        top: 220px; 
        width: 80%; 
        height: fit-content;
        overflow: hidden;
    }

    .sm-title {
        width: 80%;
        font-size: 14px;

    }

    .lg-title {
        width:50%;
        font-size: 32px;
    }

    .content-detail {
        width: 80%;
        font-size: 20px;
    }

    .welcome-btn {
        margin-top: 80px;
    }

    /* eligibility */
    .eligibility {
        width: 100%;
        padding: 0 10px;
    }
    
    /* achievement */
    .achievement-content {
        left: 20px;
    }
}